.movie{
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.mainWrapper{
    width: 95vw;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto ;
}